VITE_STRIPE_DIGITAL_PAYMENT_LINK=https://buy.stripe.com/test_aFacN4fKKeUGc0m5rb4F200
VITE_STRIPE_CD_PAYMENT_LINK=https://buy.stripe.com/test_8x2cN4fKKfYK1lI3j34F201
VITE_STRIPE_VINYL_PAYMENT_LINK=https://buy.stripe.com/test_8x2aEWbuu8wi8Oa1aV4F202
VITE_API_BASE_URL=

CLIENT_ORIGIN=https://holagringo.media
PUBLIC_BASE_URL=https://holagringo.media

STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
ALLOWED_PRICE_IDS=price_1TU7jlBZtS3zIkXYOCV8weXs

DOWNLOAD_FILE_NAME=Hola Gringo - Digital Album.zip
DOWNLOAD_TOKEN_TTL_HOURS=168
DOWNLOAD_MAX_DOWNLOADS=3

SMTP_HOST=mail.spacemail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@holagringo.media
SMTP_PASS=replace_with_email_password
SMTP_FROM="Hola Gringo <info@holagringo.media>"
DOWNLOAD_EMAIL_REPLY_TO=info@holagringo.media
DOWNLOAD_EMAIL_SUBJECT=Your Hola Gringo download is ready
