VITE_STRIPE_DIGITAL_PAYMENT_LINK=https://buy.stripe.com/test_aFacN4fKKeUGc0m5rb4F200
VITE_STRIPE_CD_PAYMENT_LINK=https://buy.stripe.com/test_8x2cN4fKKfYK1lI3j34F201
VITE_STRIPE_VINYL_PAYMENT_LINK=https://buy.stripe.com/test_8x2aEWbuu8wi8Oa1aV4F202
VITE_API_BASE_URL=http://localhost:4242
